* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
    color: black;
}

header {
    background-color: whitesmoke;
}

header p {
    font-size: 200%;
}

header div {
    display: flex;
    justify-content: right;
    justify-content: space-between;
}

nav {
    display: flex;
    /* justify-content: left; */
}

header figure+div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

header nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

header nav a {
    padding-left: 50px;

    text-decoration: none;
    font-weight: bold;
}

main {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: whitesmoke;
}

/* les classes  */

.flex {
    display: flex;
}   

.aside-left {
    display: flex;
    justify-content: left;
    width: 10%;
    height: auto;
    background-color: lightgray;
}

.aside-droit {
    display: flex;
    justify-content: right;
    width: 10%;
    height: auto;
    background-color: lightgray;
}
